@page
@model IndexModel
@{
  ViewData["Title"] = "Home page";
}

<div class="jumbotron p-2 d-flex justify-content-between">
    <h2 class="display-3"><img src="/image/nfl/nfl.png"> NFL 2019-2020</h2>
</div>